<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<h1>Игра Найди число</h1>

<p>Попытки: <span th:text="${attempts}"></span></p>
<p th:text="${message}"></p>

<form action="/findnumber" method="post">
    <input type="hidden" name="numberToGuess" th:value="${numberToGuess}"/>
    <input type="hidden" name="attempts" th:value="${attempts}"/>

    <p>Введите число от 1 до 100:</p>
    <input type="number" name="guess" min="1" max="100" required/>
    <button type="submit">Проверить</button>
</form>

<a href="/">Вернуться на главную</a>
</body>
</html>
